@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: #fff;
}

button{
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 4rem;
  width: 5rem;
  height: 5rem;
  color: #97ce4c;
  border-radius: 50%;
}

img{
  display: block;
  max-width: 100%;
}


.heading{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5rem;

}

.btns{
  max-width: 120rem;
  margin: auto;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page{
  color: #97ce4c;
  font-size: 2rem;
}

.container{
  max-width: 120rem;
  margin: 0 auto; 
}



.grid{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
place-items: center;
gap: 5rem;
padding: 2rem;
} 





